<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Padaria Delicia</title>
    <meta name="descricao" content="Atividade para a disciplina de DEV-WEB">
    <meta name="autor" content="Sayd Aires">
    <link rel="stylesheet" href="../Css/style.css">
</head>

<body>
    <header><h1>Padaria Delícia</h1></header>
    <main>
        <section class="descricao">
            <h2>Sobre a Padaria Delícia</h2>
            <p>
                A Padaria Delícia é especializada em pães, bolos caseiros e uma variedade de doces
                feitos com ingredientes de alta qualidade. Nosso objetivo é proporcionar momentos de prazer, aconchego
                e com produtos frescos e saborosos, feitos com carinho para você, nosso cliente!
            </p>
        </section>
        <section class="imagens">
            <img src="../Imagens/padaria.jpg" alt="Imagem da Padaria Delícia" width="45%">
            <img src="../Imagens/padaria2.jpg" alt="Imagem da Padaria Delícia" width="45%">
        </section>
    </main>
    <footer>
        <div class="contato">
            <p>Nosso Contato: (75) 99989-7394</p>
            <p>Email: saydaires@gmail.com</p>
        </div>
    </footer>
</body>
</html>